<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore Restaurant" />
  <link rel="icon" href="./icon-manifest.png" />
  <link rel="manifest" href="./app.webmanifest" />
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>fauzan-baehaqi-resteaurant-catalogue</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">go to main content</a>
  <header>
    <!-- nav -->
    <nav class="nav-bar">
      <a class="logo">Zenfood</a>
      <button class="drawer" href="#" tabindex="0">☰</button>
      <ul class="nav-menu-dropdown">
        <li class="nav-item">
          <a href="#/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#/favorite" class="nav-link">Favorite</a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/fauzan-baehaqi-13b99b253/" class="nav-link">About us</a>
        </li>
      </ul>
    </nav>
  </header>
    <!-- content -->
    <main id="mainContent" tabindex="0"></main>
    <!-- footer -->
    <footer>
      <div class="footer-bottom">
        <p>copyright &copy;2022 SIB Expert-3. by FAUZAN BAEHAQI</p>
      </div>
    </footer>
</body>

</html>